{% load static %}

<!DOCTYPE html>
<html>

<head>
    <title>Articles</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>

<body>
    <h1>民用机场设计标准规范</h1>
    <table>
        <thead>
            <tr>
                <th>名称</th>
                <th>编号</th>
                <th>实施日期</th>
            </tr>
        </thead>
        <tbody>
            {% for record in standards %}
            <tr>
                <td>{{ record.title }}</td>
                <td>{{ record.codeID}}</td>
                <td>{{ record.published_date}} </td>
            </tr>
            {% endfor %}
        </tbody>

    </table>
</body>

</html>